body{
  background-color:#EAE7DC;
}
hr{
  border-style:none;
  border-top-style: dashed;
  border-width:3px;
  border-color:#E98074;
  width:40%;
}
h1,h3{
  color:#E85A4F;
}
td,li,th,label{
  font-family:Garamond,Courier New;
  color:#4F4A41;
  font-size:20px;
}
form{
  text-align: center;

}
.division{
  border:3px solid black;
  width:40%;
  padding-left: 20px;
  margin-left: 50%;;
}
.New{
  border:3px solid red;
  width:40%;
}
